<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Billets</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <header>
        <h1>Pool de Loterie</h1>
        <nav>
            <a href="/">Accueil</a>
            <a href="/tickets">Billets</a>
            <a href="/winnings">Gains</a>
        </nav>
    </header>
    <main>
        <h2>Billets</h2>
        <table>
            <tr>
                <th>ID</th>
                <th>Image</th>
                <th>Statut</th>
                <th>Mois</th>
            </tr>
            {% for ticket in tickets %}
            <tr>
                <td>{{ ticket[0] }}</td>
                <td><img src="{{ ticket[1] }}" alt="Image du Billet" width="100"></td>
                <td>{{ ticket[2] }}</td>
                <td>{{ ticket[3] }}</td>
            </tr>
            {% endfor %}
        </table>
    </main>
<footer>
    <p>Tous droits réservés à Loto Investment Co.</p>
</footer>

</body>
</html>
